<div class="grid" style="justify-content: space-around">
  <div class="col-12">
    <mat-toolbar color="primary">
      <span>IEST STORE</span>
      <!--Nombre del módulo que aparece al inicio, en la barra naranja-->
    </mat-toolbar>
  </div>

  <div class="col-6">
    <mat-card>
      <mat-card-header style="align-self: center; padding-bottom: 2rem">
        <mat-card-title> Playera de preparatoria para hombre</mat-card-title>
      </mat-card-header>
      <mat-card-content style="align-self: center">
      <img alt="articulo" matCardImage src="../../../../../assets/playeras/placeholder.jpg" width="100%" height="45%"/>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="changePage()">Action1</button>

      </mat-card-actions>
      <mat-card-footer>
      Precio: {{precio()}}

      </mat-card-footer>
    </mat-card>
  </div>
</div>
