.grid {
  box-sizing: border-box;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
/*   margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  padding: .5rem; */
}

.grid-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  padding: .5rem
}

.col-1,.col-fixed {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-1 {
  width: 8.3333%
}

.col-2 {
  width: 16.6667%
}

.col-2,.col-3 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.3333%;
}

.col-4,.col-5 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-5 {
  width: 41.6667%
}

.col-6 {

  width: 50%
}

.col-6,.col-7 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-7 {

  width: 58.3333%
}

.col-8 {
  width: 66.6667%
}

.col-8,.col-9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.3333%
}

.col-10,.col-11 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem
}

.col-11 {
  width: 91.6667%
}

.col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding: .5rem;
  width: 100%
}

.col-offset-0 {
  margin-left: 0!important
}

.col-offset-1 {
  margin-left: 8.3333%!important
}

.col-offset-2 {
  margin-left: 16.6667%!important
}

.col-offset-3 {
  margin-left: 25%!important
}

.col-offset-4 {
  margin-left: 33.3333%!important
}

.col-offset-5 {
  margin-left: 41.6667%!important
}

.col-offset-6 {
  margin-left: 50%!important
}

.col-offset-7 {
  margin-left: 58.3333%!important
}

.col-offset-8 {
  margin-left: 66.6667%!important
}

.col-offset-9 {
  margin-left: 75%!important
}

.col-offset-10 {
  margin-left: 83.3333%!important
}

.col-offset-11 {
  margin-left: 91.6667%!important
}

.col-offset-12 {
  margin-left: 100%!important
}

@media screen and (min-width: 576px) {
  .sm\:col {
      flex-grow:1;
      flex-basis: 0;
      padding: .5rem
  }

  .sm\:col-1,.sm\:col-fixed {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-1 {
      width: 8.3333%
  }

  .sm\:col-2 {
      width: 16.6667%
  }

  .sm\:col-2,.sm\:col-3 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-3 {
      width: 25%
  }

  .sm\:col-4 {
      width: 33.3333%
  }

  .sm\:col-4,.sm\:col-5 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-5 {
      width: 41.6667%
  }

  .sm\:col-6 {
      width: 50%
  }

  .sm\:col-6,.sm\:col-7 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-7 {
      width: 58.3333%
  }

  .sm\:col-8 {
      width: 66.6667%
  }

  .sm\:col-8,.sm\:col-9 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-9 {
      width: 75%
  }

  .sm\:col-10 {
      width: 83.3333%
  }

  .sm\:col-10,.sm\:col-11 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .sm\:col-11 {
      width: 91.6667%
  }

  .sm\:col-12 {
      flex: 0 0 auto;
      padding: .5rem;
      width: 100%
  }
}

@media screen and (min-width: 768px) {
  .md\:col {
      flex-grow:1;
      flex-basis: 0;
      padding: .5rem
  }

  .md\:col-1,.md\:col-fixed {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-1 {
      width: 8.3333%
  }

  .md\:col-2 {
      width: 16.6667%
  }

  .md\:col-2,.md\:col-3 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-3 {
      width: 25%
  }

  .md\:col-4 {
      width: 33.3333%
  }

  .md\:col-4,.md\:col-5 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-5 {
      width: 41.6667%
  }

  .md\:col-6 {
      width: 50%
  }

  .md\:col-6,.md\:col-7 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-7 {
      width: 58.3333%
  }

  .md\:col-8 {
      width: 66.6667%
  }

  .md\:col-8,.md\:col-9 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-9 {
      width: 75%
  }

  .md\:col-10 {
      width: 83.3333%
  }

  .md\:col-10,.md\:col-11 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .md\:col-11 {
      width: 91.6667%
  }

  .md\:col-12 {
      flex: 0 0 auto;
      padding: .5rem;
      width: 100%
  }
}

@media screen and (min-width: 992px) {
  .lg\:col {
      flex-grow:1;
      flex-basis: 0;
      padding: .5rem
  }

  .lg\:col-1,.lg\:col-fixed {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-1 {
      width: 8.3333%
  }

  .lg\:col-2 {
      width: 16.6667%
  }

  .lg\:col-2,.lg\:col-3 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-3 {
      width: 25%
  }

  .lg\:col-4 {
      width: 33.3333%
  }

  .lg\:col-4,.lg\:col-5 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-5 {
      width: 41.6667%
  }

  .lg\:col-6 {
      width: 50%
  }

  .lg\:col-6,.lg\:col-7 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-7 {
      width: 58.3333%
  }

  .lg\:col-8 {
      width: 66.6667%
  }

  .lg\:col-8,.lg\:col-9 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-9 {
      width: 75%
  }

  .lg\:col-10 {
      width: 83.3333%
  }

  .lg\:col-10,.lg\:col-11 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .lg\:col-11 {
      width: 91.6667%
  }

  .lg\:col-12 {
      flex: 0 0 auto;
      padding: .5rem;
      width: 100%
  }
}

@media screen and (min-width: 1200px) {
  .xl\:col {
      flex-grow:1;
      flex-basis: 0;
      padding: .5rem
  }

  .xl\:col-1,.xl\:col-fixed {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-1 {
      width: 8.3333%
  }

  .xl\:col-2 {
      width: 16.6667%
  }

  .xl\:col-2,.xl\:col-3 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-3 {
      width: 25%
  }

  .xl\:col-4 {
      width: 33.3333%
  }

  .xl\:col-4,.xl\:col-5 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-5 {
      width: 41.6667%
  }

  .xl\:col-6 {
      width: 50%
  }

  .xl\:col-6,.xl\:col-7 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-7 {
      width: 58.3333%
  }

  .xl\:col-8 {
      width: 66.6667%
  }

  .xl\:col-8,.xl\:col-9 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-9 {
      width: 75%
  }

  .xl\:col-10 {
      width: 83.3333%
  }

  .xl\:col-10,.xl\:col-11 {
      flex: 0 0 auto;
      padding: .5rem
  }

  .xl\:col-11 {
      width: 91.6667%
  }

  .xl\:col-12 {
      flex: 0 0 auto;
      padding: .5rem;
      width: 100%
  }
}

@media screen and (min-width: 576px) {
  .sm\:col-offset-0 {
      margin-left:0!important
  }

  .sm\:col-offset-1 {
      margin-left: 8.3333%!important
  }

  .sm\:col-offset-2 {
      margin-left: 16.6667%!important
  }

  .sm\:col-offset-3 {
      margin-left: 25%!important
  }

  .sm\:col-offset-4 {
      margin-left: 33.3333%!important
  }

  .sm\:col-offset-5 {
      margin-left: 41.6667%!important
  }

  .sm\:col-offset-6 {
      margin-left: 50%!important
  }

  .sm\:col-offset-7 {
      margin-left: 58.3333%!important
  }

  .sm\:col-offset-8 {
      margin-left: 66.6667%!important
  }

  .sm\:col-offset-9 {
      margin-left: 75%!important
  }

  .sm\:col-offset-10 {
      margin-left: 83.3333%!important
  }

  .sm\:col-offset-11 {
      margin-left: 91.6667%!important
  }

  .sm\:col-offset-12 {
      margin-left: 100%!important
  }
}

@media screen and (min-width: 768px) {
  .md\:col-offset-0 {
      margin-left:0!important
  }

  .md\:col-offset-1 {
      margin-left: 8.3333%!important
  }

  .md\:col-offset-2 {
      margin-left: 16.6667%!important
  }

  .md\:col-offset-3 {
      margin-left: 25%!important
  }

  .md\:col-offset-4 {
      margin-left: 33.3333%!important
  }

  .md\:col-offset-5 {
      margin-left: 41.6667%!important
  }

  .md\:col-offset-6 {
      margin-left: 50%!important
  }

  .md\:col-offset-7 {
      margin-left: 58.3333%!important
  }

  .md\:col-offset-8 {
      margin-left: 66.6667%!important
  }

  .md\:col-offset-9 {
      margin-left: 75%!important
  }

  .md\:col-offset-10 {
      margin-left: 83.3333%!important
  }

  .md\:col-offset-11 {
      margin-left: 91.6667%!important
  }

  .md\:col-offset-12 {
      margin-left: 100%!important
  }
}

@media screen and (min-width: 992px) {
  .lg\:col-offset-0 {
      margin-left:0!important
  }

  .lg\:col-offset-1 {
      margin-left: 8.3333%!important
  }

  .lg\:col-offset-2 {
      margin-left: 16.6667%!important
  }

  .lg\:col-offset-3 {
      margin-left: 25%!important
  }

  .lg\:col-offset-4 {
      margin-left: 33.3333%!important
  }

  .lg\:col-offset-5 {
      margin-left: 41.6667%!important
  }

  .lg\:col-offset-6 {
      margin-left: 50%!important
  }

  .lg\:col-offset-7 {
      margin-left: 58.3333%!important
  }

  .lg\:col-offset-8 {
      margin-left: 66.6667%!important
  }

  .lg\:col-offset-9 {
      margin-left: 75%!important
  }

  .lg\:col-offset-10 {
      margin-left: 83.3333%!important
  }

  .lg\:col-offset-11 {
      margin-left: 91.6667%!important
  }

  .lg\:col-offset-12 {
      margin-left: 100%!important
  }
}

@media screen and (min-width: 1200px) {
  .xl\:col-offset-0 {
      margin-left:0!important
  }

  .xl\:col-offset-1 {
      margin-left: 8.3333%!important
  }

  .xl\:col-offset-2 {
      margin-left: 16.6667%!important
  }

  .xl\:col-offset-3 {
      margin-left: 25%!important
  }

  .xl\:col-offset-4 {
      margin-left: 33.3333%!important
  }

  .xl\:col-offset-5 {
      margin-left: 41.6667%!important
  }

  .xl\:col-offset-6 {
      margin-left: 50%!important
  }

  .xl\:col-offset-7 {
      margin-left: 58.3333%!important
  }

  .xl\:col-offset-8 {
      margin-left: 66.6667%!important
  }

  .xl\:col-offset-9 {
      margin-left: 75%!important
  }

  .xl\:col-offset-10 {
      margin-left: 83.3333%!important
  }

  .xl\:col-offset-11 {
      margin-left: 91.6667%!important
  }

  .xl\:col-offset-12 {
      margin-left: 100%!important
  }
}

//ELEMENTOS PERSONALIZADOS

.text-center {
  text-align: center;
}

.align-content-center {
  align-content: center;
}

.padding-on {
  padding: .5rem;
}

.padding-off {
  padding-top: .5rem;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: .5rem;
}

::ng-deep html{
  width: 100% !important;
  overflow-x: hidden !important;
}


.formSection{
  margin-bottom: 5px;
  border-color: black;
  border-width: 10px;
  height: 3rem;
  background-color: var(--mat-stepper-header-selected-state-icon-background-color) ;
  text-align: center;
  color: white;

}

.form-container{
  border: 1px solid rgb(255, 255, 255);
  padding: .5rem;
  background-color: rgb(245 245 245);
  height: max-content;
}

.rp{
  padding: 0;
}

mat-form-field {
  width: -webkit-fill-available;
}

 h3 {
  color: black;
  font-size: 1.2rem;
}




// TABLE

.th{
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #0000008a;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
mat-table {
  width: 1200px;
  max-width: 1200px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
}
mat-row,
mat-header-row {
  display: table-row;
}
mat-cell,
mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


// SIDE MENU
::ng-deep .menu-single:hover > span > span{
  color: rgb(255, 255, 255) !important;

}
 .menu-single {
   align-items: center;
   border-left: 5px solid #ffffff;
   box-sizing: border-box;
   color: rgb(0, 0, 0);
   cursor: pointer !important;
   display: flex;
   height:48px;
   overflow: hidden;
   padding: 0px 16px 0px 16px;
   position:relative;
   text-decoration: none;
   width: 100%;
   &:hover{
    border-left: 5px solid #ff4444;
    color: #ff4444 !important;
   }
  }

  .active {
    background-color: #ff4400 !important;
    border-left: 5px solid #ff4444;
    color: #fff;
    border-radius: 5px;
    &:hover{
      color: #ffffff !important;
     }
  }
   a > mat-icon{
    width: 2rem;
  }

  mat-panel-title{
    font-weight: 400;
    font-family: 'Roboto';
  }

  ::ng-deep .mat-expansion-panel-body{
    padding: 0 24px 7px !important;
  }
