<div class="grid animate__animated animate__fadeIn">
  <h1 class="col-11">Configurar generación</h1>

  <app-select-pagares class="col-11" (selectedCatalog)="loadDataOnForm($event)"/>

  @if(formIsVisible){
    <div class="col-8">

      <h2>Número de promesas</h2><br/>
      <h3>{{ sliderValue }} Meses</h3>
    </div>
    <div class="col-11">
      <mat-slider min="1" max="8" step="1" value="1" style="width: 99%">
        <input matSliderThumb [(ngModel)]="sliderValue" (change)="detectSliderChange()" />
      </mat-slider>
    </div>

    <form class="col-11 grid" [formGroup]="myForm" (ngSubmit)="onSave()">
      @if(showMontoField){

        <mat-form-field class="col-11" style="display: contents;" #montoInput>
          <mat-label>Monto</mat-label>
          <input
            type="number"
            formControlName="monto"
            matInput
            placeholder="Ex. pat@example.com"
          />
        </mat-form-field>
      }

      <div class="col-12 grid" formArrayName="fechasPromesas">
        @for (promesa of getFormControlArray.controls; let i = $index; track promesa) {
          <div [formGroupName]="i" class="col-3" >
            <mat-form-field style="width: 100%;">
              <mat-label>Fecha Limite {{i+1}}</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date"/>
              <mat-hint>Dia/Mes/Año</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        }
      </div>

      <div class="">
        <button mat-flat-button type="submit" class="btn btn-primary float-end">
          Guardar
        </button>
      </div>
    </form>
  }


</div>
