<div class="animate__animated animate__fadeIn" style="justify-content: center;">
  <mat-toolbar color="primary">
    <span>Configuración de Horarios Escolares</span>
  </mat-toolbar>

  <div class="tilesContainer animate__animated animate__fadeIn">
    <!--  LISTA PREPARATORIA-->
    <h2 *ngIf="bachelorList.length">Preparatoria</h2>
    <hr *ngIf="profesionalList.length" />
    @for (config of bachelorList; track config.idParametro) {

      <div class="tile" [matTooltip]="config.descripcion">

        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
        <mat-slide-toggle style="position: relative" [checked]="config.parametroInt ? true : false"
                          (change)="onChange(+config.idParametro,$event)" />
      </div>
    }


    <!--LISTA PROFESIONAL-->
    <h2 *ngIf="profesionalList.length">Profesional</h2>
    <hr *ngIf="profesionalList.length" />

    @for (config of profesionalList; track config.idParametro) {

      <div class="tile" [matTooltip]="config.descripcion">

        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
        <mat-slide-toggle
          style="position: relative"
          [checked]="!!config.parametroInt"
          (change)="onChange(+config.idParametro,$event)" />
      </div>
    }

    <!--    LISTA EXTRA-->

    @if (listExtra.length) {
      @for (config of listExtra; track config.idParametro) {
        <h2>{{ config.grado | titlecase }}</h2>
        <hr/>

        <div class="tile" [matTooltip]="config.descripcion">
        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
          <mat-slide-toggle
            style="position: relative"
            [checked]="!!config.parametroInt"
            (change)="onChange(+config.idParametro,$event)" />
        </div>
      }
    }
  </div>

</div>


<div #loadingScreen id="loading-screen" class="loading-screen">
  <mat-spinner></mat-spinner>
</div>
