<div class="animate__animated animate__fadeIn" style="justify-content: center;">
  <mat-toolbar color="primary">
    <span>Configuración de Horarios Escolares</span>
  </mat-toolbar>

  <div *ngIf="listResponse.length > 0" class="tilesContainer animate__animated animate__fadeIn">

    <h2>Preparatoria</h2>
    @for (config of bacherorList; track config.idParametro) {

      <div class="tile" [matTooltip]="config.descripcion">

        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
        <mat-slide-toggle style="position: relative" [checked]="config.parametroInt ? true : false"
                          (change)="onChange(+config.idParametro,$event)" />
      </div>
    }

    <h2>Profesional</h2>
    @for (config of profesionalList; track config.idParametro) {

      <div class="tile" [matTooltip]="config.descripcion">

        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
        <mat-slide-toggle style="position: relative" [checked]="config.parametroInt ? true : false"
                          (change)="onChange(+config.idParametro,$event)" />
      </div>
    }

    @if (listExtra.length) {
      @for (config of listExtra; track config.idParametro) {
        <h2>{{ config.grado | titlecase }}</h2>

        <div class="tile" [matTooltip]="config.descripcion">

        <span style="font-weight: 500">
            {{ config.concepto }}
        </span>
          <mat-slide-toggle style="position: relative" [checked]="config.parametroInt ? true : false"
                            (change)="onChange(+config.idParametro,$event)" />
        </div>
      }
    }
  </div>



</div>


<div #loadingScreen id="loading-screen" class="loading-screen">
  <mat-spinner></mat-spinner>
</div>
