<mat-toolbar color="primary">
  <span>{{title}}</span>
  <!--Nombre del módulo que aparece al inicio, en la barra naranja-->
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>

    <shrd-side-nav></shrd-side-nav>
  </mat-drawer>

  <mat-drawer-content>
    <div class="grid" style="height: 95vh">
      <mat-nav-list >

      </mat-nav-list>

      <div class="col-offset-1 col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
