<div class="form-container animate__animated animate__fadeIn">
  <div class="grid" style="padding: 0;">
    <div class="formSection col-12">
      <h1>Precio Externo</h1>
    </div>
    @if(!!this.formGroupExternalCost.get(['twoWeeks', 'maternal','idCost'])?.value){

    <div class="col-4"></div>
    <h3 class="col-4 text-center" style="margin: 0;">Dos Semanas</h3>
    <h3 class="col-4 text-center" style="margin: 0;">Tres Semanas</h3>

    <h3 class="col-offset-1 col-3" style="align-content: center; margin-bottom: 0;">Maternal </h3>

    <mat-form-field class="col-4" [formGroup]="$any(formGroupExternalCost).get(['twoWeeks','maternal'])">
      <span matTextPrefix>$ &nbsp;</span>
      <input matInput type="number" formControlName="price"
      (blur)="onInputChange($event,$any(formGroupExternalCost).get(['twoWeeks','maternal','idCost']).value)"
      />
      @if (formGroupExternalCost.invalid) {
      <mat-error>{{'Campo requerido'}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-4" [formGroup]="$any(formGroupExternalCost).get(['treeWeeks','maternal'])">
      <span matTextPrefix>$ &nbsp;</span>
      <input matInput type="number" formControlName="price"
      (blur)="onInputChange($event,$any(formGroupExternalCost).get(['treeWeeks','maternal','idCost']).value)"
      />
    </mat-form-field>

    <h3 class="col-offset-1 col-3" style="align-content: center; margin-bottom: 0;">Infantil</h3>

    <mat-form-field class="col-4" [formGroup]="$any(formGroupExternalCost).get(['twoWeeks','childish'])">
      <span matTextPrefix>$ &nbsp;</span>
      <input matInput type="number" formControlName="price"
      (blur)="onInputChange($event,$any(formGroupExternalCost).get(['twoWeeks','childish','idCost']).value)"
      />
    </mat-form-field>

    <mat-form-field class="col-4" [formGroup]="$any(formGroupExternalCost).get(['treeWeeks','childish'])">
      <span matTextPrefix>$ &nbsp;</span>
      <input matInput type="number" formControlName="price"
      (blur)="onInputChange($event,$any(formGroupExternalCost).get(['treeWeeks','childish','idCost']).value)"
      />
    </mat-form-field>
    }
  </div>
</div>
