/* Estilos básicos para el modal */
.modal {
  //background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  bottom: 0;
  display: flex; /* Oculto por defecto */
  justify-content: center;
  width: 100%;
  position: fixed; /* Fijar en la pantalla */
  z-index: 200; /* Por encima de otros elementos */
}

/* Contenido del modal */
.modal-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.47);
  //margin: 15% auto; /* Centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 50vw; /* Ajustar el ancho */
  gap: 2px;

  p {
    margin-top: 12px !important;
  }
}

/* Botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

//.close:hover,
//.close:focus {
//  color: black;
//  text-decoration: none;
//  cursor: pointer;
//}

