.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  //margin-right: -0.5rem;
  //margin-left: -0.5rem;
 // margin-top: -0.5rem;
}

.flex-1 {
  flex: 0 0 auto;
  width: 50%;
  padding: 0.5rem;
}
.flex-2 {
  flex: 0 0 auto;
  width: 50%;
  padding: 0.5rem;
}
.flex-3 {
  flex: 0 0 auto;
  width: 50%;
  padding: 0.5rem;
}
.flex-4 {
  flex: 0 0 auto;
  width: 50%;
  padding: 0.5rem;
}
.flex-5 {
  flex: 0 0 auto;
  width: 41.6667%;
  padding: 0.5rem;
}
.flex-6 {
  flex: 0 0 auto;
  width: 50%;
  padding: 0.5rem;
}

.flex-12 {
  flex: 0 0 auto;
  width: 100%;
  padding: 0.5rem;
}

.flex-remain {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.align-items-center{
  align-items: center;
}
